//#region Pages

//#region Index
$index-p__bg: #111111;
// $index-p__bg: yellow;
$index-p__txt-color: #eeeeee;
//#endregion Index

//#endregion Pages


//#region Components

//#region Character Card
$char-card__bg: #010101;
//#endregion  Character Card

//#endregion Components